

/* Default font */
body {
    font-family: Arial, sans-serif;
    background-color: azure;
}
#main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // width: 50%;
    // background-color: #5591d0;
    

}

/* Heading styles */
h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #5591d0 ;
}
h2{
    color: #5591d0;
    margin-bottom: 1rem;
}

/* Form styles */
form {
    margin-top: 2rem;
}

/* Button styles */
button {
    background-color: #4a6bc7;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #3e8e41;
}

/* List styles */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    
    flex-direction: column;
}

li {
   
    border-bottom:1px solid black;
    background-color: #9bb1ef;
    width: 100%;
    display: flex;
    justify-content: center;

}

li:nth-child(odd) {
    background-color: #4a6bc7;
}
li:hover{
    background-color: #4CAF50;
}

a {
    color: #000;
    text-decoration: none;
    font-size: 1.2rem;
    // border-bottom: 2px solid #ddd;
    padding-bottom: 0.2rem;
}

a:hover {
    color: #d91010;
    border-bottom: 2px solid #4CAF50;
}
#file-list{
    border:1px solid black;
    width:50%;
}